@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0px;
}

main {
    width: 100vw;
    height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.box2 {
    max-width: 17rem;
    height: 26rem;
    background: #fff;
    border-radius: 5%;
    text-align: center;
}

.qrcode {
    height: 15rem;
    width: 15rem;
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.828rem;
    
}

h1{
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Outfit', sans-serif;
}

h3{
    font-weight: 400;
    font-size: 0.938rem;
    color: lightgrey;
    font-family: 'Outfit', sans-serif;
}
